<a href="<%- companyUrl %>" target="_blank" rel="noopener" class="footer-logo-link">
    <img src="<%- logoFooterLight %>" alt="<%- logoAlt %>" class="footer-logo footer-logo-light" loading="lazy">
    <img src="<%- logoFooterDark %>" alt="<%- logoAlt %>" class="footer-logo footer-logo-dark" loading="lazy">
</a>
